.sobre-temporadas {
    display: flex;
    flex-direction: column;
    padding: 2em 2.5em;
    gap: 1.5em;
    align-items: center;
    border-bottom: solid 2px var(--cinza-escuro);
    background-color: var(--cinza-escuro);
}

.sobre-temporadas__titulo {
    color: var(--vermelho);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.sobre-temporadas__texto {
    line-height: 1.25em;
    color: var(--cinza-claro);
}

/* Tablets */
@media screen and (min-width: 1024px) {
    .sobre-temporadas {
        padding: 3.5em;
    }

    .sobre-temporadas__titulo {
        font-size: 2.5rem;
        margin-bottom: 0.75em;
    }

    .sobre-temporadas__texto {
        font-size: 1.5rem;
        width: 75vw;
    }
}

/* Notebooks */
@media screen and (min-width: 1360px) {
    .sobre-temporadas {
        padding: 2.5em;
    }

    .sobre-temporadas__titulo {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
    }

    .sobre-temporadas__texto {
        font-size: 1.25rem;
        width: 75vw;
    }
}